/* .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  display: flex;
  justify-content: center;
  width: 20%;
} */

.searchForm {
  display: flex;
  justify-content: center;
}
.label {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(142, 142, 183);
  display: flex;
  align-items: center;
}
